$clr-very-dark-gray: #18171f;
$clr-dark-gray: #24232c;
$clr-gray: #817d92;
$clr-red: #f64a4a;
$clr-orange: #fb7c58;
$clr-yellow: #f8cd65;
$clr-neon-green: #a4ffaf;
$clr-almost-white: #e6e5ea;

$ff: "Jetbrains Mono", monospace;
