@use "variables" as *;
@use "reset" as *;

body {
  background-color: $clr-very-dark-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  color: white;
  font-family: $ff;
  padding-inline: 1rem;
}

.main {
  width: 100%;
}

.app {
  max-width: 33.75rem;
  margin-inline: auto;
}

.app__title {
  color: $clr-gray;
  text-align: center;
  font-size: 1.5rem;
}

.form__controls {
  margin-top: 1rem;
  padding: 1rem;
  background-color: $clr-dark-gray;
}

.form__controls__title {
  font-size: 1.125rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: $clr-very-dark-gray;
  height: 0.5rem;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    $clr-very-dark-gray 0%,
    $clr-neon-green 0%
  );
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

/* Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: $clr-neon-green;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: $clr-very-dark-gray;
  border: 2px solid $clr-neon-green;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: $clr-neon-green;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
}

input[type="range"]:hover::-moz-range-thumb {
  background: $clr-very-dark-gray;
  border: 2px solid $clr-neon-green;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid $clr-almost-white;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  border-color: $clr-neon-green;
}

input[type="checkbox"]:checked {
  background: url("../assets/images/icon-check.svg") no-repeat center;
  background-color: $clr-neon-green;
  border-color: $clr-neon-green;
}

.range-value {
  font-size: 2rem;
  color: $clr-neon-green;
  font-weight: 700;
}

.form__controls__heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-wrapper {
  margin-top: 2rem;
  background-color: $clr-dark-gray;
  padding-left: 0;
  display: grid;
  width: 100%;
}

.input-password {
  width: 100%;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: clamp(1.4rem, calc(1.4rem + ((1vw - 0.2rem) * 1.0909)), 2rem);
  line-height: 1.5;
  padding-left: 1rem;
  padding-block: 0.5rem;
  color: $clr-almost-white;
}

.btn-copy {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: max-content;
  margin-left: auto;
  background: transparent;
  border: transparent;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-copy svg {
  fill: $clr-neon-green;
}

.btn-copy:hover svg {
  fill: $clr-almost-white;
}

.input-password:focus {
  outline: transparent;
  border: 1px solid $clr-neon-green;
}

.input-range {
  width: 100%;
}

.checks-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkbox-group {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.checkbox-group label {
  font-size: clamp(0.9rem, calc(0.9rem + ((1vw - 0.2rem) * 0.4091)), 1.125rem);
}

.strength-level-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.strength-label {
  text-transform: uppercase;
  color: $clr-gray;
  font-size: 1rem;
  font-weight: bold;
}

.strength-level-text {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: bold;
  display: none;
}

.strength {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: $clr-very-dark-gray;
  padding-inline: 1rem;
  justify-content: space-between;
}

.scale {
  display: grid;
  grid-template-columns: repeat(4, 0.625rem);
  gap: 0.5rem;
}

.scale-item {
  // width: 0.625rem;
  height: 1.75rem;
  border: 1px solid white;
}

.scale-item.active {
  border-color: transparent;
  background-color: $clr-neon-green;
}

.btn-generate {
  margin-top: 2rem;
  background-color: $clr-neon-green;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  height: 4rem;
  font-weight: bold;
  border: 1px solid $clr-neon-green;
  cursor: pointer;
  color: $clr-very-dark-gray;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-generate:hover {
  background-color: $clr-very-dark-gray;
  border: 1px solid $clr-neon-green;
  color: $clr-neon-green;
}

.btn-generate:hover svg {
  fill: $clr-neon-green;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// add a bit of spacing to password input on mobile
@media screen and (max-device-width: 48em) and (-webkit-min-device-pixel-ratio: 2) {
  input[type="password"] {
    letter-spacing: 8px;
    font-size: inherit;
    line-height: 2.15;
  }
}

@media screen and (min-width: 23rem) {
  .strength-level-text {
    display: block;
  }
}

@media screen and (min-width: 40rem) {
  .main {
    width: 100%;
  }
}
